body{
  background-color: #7D89E6;
}
main{
  text-align: center;
}

header{
  background-color: #575FA1;
}

h1 {
  display: block;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color:black;
}

h2 {
  display: block;
  font-size: 24px;
  margin-top: 10.72px;
  margin-bottom: 10.72px;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: bold;
}

ul{
  list-style: none
}

ul1{
  display: table;
}
li1{
  display: table-cell;
  padding: 5px;
}



.btn{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  padding: 1.5em;
}

a { text-decoration: none; color:#000000; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
